<!DOCTYPE html>
{% load staticfiles %}

<html>

    <link rel="stylesheet" type="text/css" href="{% static 'Quizker/base.css' %}">

    <head>
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
        <div>
            <ul class = "nav">
                <li class = "img"><a href="{% url 'Quizker:Home' %}"><img src="{% static 'images/quizker_logo.png' %}"></a></li>
                
                {% if user.is_authenticated %}
                    <!-- Show these links when the user is logged in -->
					<li><a href="{% url 'Quizker:CreateQuiz' %}">All Quizzes</a></li>
                    <li><a href="{% url 'Quizker:CreateQuiz' %}">Create a Quiz</a></li>
                    <li><a href="{% url 'Quizker:CreateQuiz' %}">Contact Us</a></li>
                    <li><a href="{% url 'Quizker:CreateQuiz' %}">Leaderboard</a></li>
                    <li class = "user"><a href="{% url 'auth_logout' %}?next={% url 'Quizker:Home' %}">Logout</a></li>
                {% else %}
                    <!-- Show these links when the user is NOT logged in -->
                    <li class = "user"><a href="{% url 'auth_login' %}">Login</a></li>
                    <li class = "user"><a href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>