<!DOCTYPE html>
{% load staticfiles %}

<html>

    <link rel="stylesheet" type="text/css" href="{% static 'Quizker/base.css' %}">

    <head>
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
    </head>

    <body>
    
        <nav>
            <div id = "logo"><a href="{% url 'Quizker:Home' %}"><img src="{% static 'images/quizker_logo.png' %}"></a></div>
            <a href="{% url 'Quizker:Quizzes' %}">All Quizzes</a>
            <a href="{% url 'Quizker:CreateQuiz' %}">Create a Quiz</a>
            <a href="{% url 'Quizker:Leaderboard' %}">Leaderboard</a>
            <a href="{% url 'Quizker:ContactUs' %}">Contact Us</a>
            {% if user.is_authenticated %}
                <!-- Show these links when the user is logged in -->
                <button><a class = "user" href="{% url 'auth_logout' %}?next={% url 'Quizker:Home' %}">Logout</a></button>
                <button><a class = "user" href="{% url 'Quizker:Profile' %}">Profile</a></button>
            {% else %}
                <!-- Show these links when the user is NOT logged in -->
                <button><a class = "user" href="{% url 'auth_login' %}">Login</a></button>
                <button><a class = "user" href="{% url 'registration_register' %}">Register</a></button>
            {% endif %}
        </nav>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

    </body>
</html>