{% extends 'Quizker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create a Question
{% endblock %}

{% block body_block %}

<div class="CreateQuestion">
	<h2>Create a Question</h2>
		<div class="form">
			<form method="post" action="{% url 'Quizker:CreateQuestion' Quiz.slug%}" enctype="multipart/form-data">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
					<br>
				{% endfor %}
				<input type="submit" name="submit" value="Create Question" />
			</form>
			<form method="post" action="{% url 'Quizker:FinishQuiz' Quiz.slug%}">
		      {% csrf_token %}
		      <input type="submit" name="submit" value="Finish Quiz" />
		    </form>
		</div>
		<div>
		{% if Questions %}
		 <table>
				<tr>
					<th>Question number</th>
					<th>Question Text</th>
				</tr>
				{% for Question in Questions %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{Question.text}}</td>
						<td><form method="post" action="{% url 'Quizker:RemoveQuestion' Question.id%}">{% csrf_token %}<input type="submit" name="submit" value="Remove Question" /></form>
					</tr>
				{% endfor %} 
		 </table>
		{% endif %}
		</div>
</div>
{% endblock %}

