{% extends 'Quizker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create a Quiz 
{% endblock %}

{% block body_block %}

	<link rel="stylesheet" type="text/css" href="{% static 'Quizker/CreateQuiz.css' %}">

	<h2 style="text-align: center;">Create a Quiz</h2>

	<div class = "container">
		<form id="QuizForm" method="post" action="{% url 'Quizker:CreateQuiz' %}">
			{% csrf_token %}
			
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
				<br>
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
			{% endfor %}
			<input type="submit" name="submit" value="Create Quiz" onclick='alert("Congratulations, for you that is quiz number {{numberofquizzes}}.");'/>
		</form>
	</div>

{% endblock %}