{% extends 'Quizker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Quizker
{% endblock %}

{% block body_block %}

	<link rel="stylesheet" type="text/css" href="{% static 'Quizker/home.css' %}">

	<div class = "home">
		<div class = "intro">
			<h1>Participate in Quizzes. <br> Create Your Own.</h1>
			<p>A platform to take quizzes in a number of categories, compete with others and even create your own for a fun evening with your friends or school-work.</p>
			<div class = "register_box">
				<a href="{% url 'registration_register' %}" class="register">Create a FREE account</a>
			</div>
		</div>
	
		<div class = "table">
			<table>
				<tr>
					<th class = "names">Most Liked Quizzes</th>
					<th class = "likes">Likes</th>
				</tr>
				{% for Quiz in Quizzes %}
					<tr>
						<td><a href="{% url 'Quizker:ParticipateQuiz' Quiz.slug%}">{{Quiz.title}}</a></td>
						<td>{{Quiz.likes}}</td>
					</tr>
				{% endfor %} 
			</table>
		</div>
	</div>
    
{% endblock %}