{% extends 'Quizker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Leaderboard
{% endblock %}

{% block body_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'Quizker/Leaderboard.css' %}">
        
    <div class = "table">
        <table>
            <tr>
                <th class = "user">User</th>
                <th class = "score">Total Score</th>
                <th class = "quizzes">Nr. of Quizzes Created</th>
            </tr>
            {% for User in Users %}
                <tr>
                    <td>{{User.username}}</a></td>
                    <td>{{User.userprofile.score}}</td>
                    <td>{{User.userprofile.nrOfCreatedQuizzes}}</td>
                </tr>
            {% endfor %} 
        </table>
    </div>
    
{% endblock %}