{% extends 'Quizker/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Leaderboard
{% endblock %}

{% block body_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'Quizker/Profile.css' %}">
        
    <div class="card">
        <h1>{{user.username}}</h1>
        <p>{{user.email}}</p>
        <div class = "table">
            <table>
                <tr>
                    <th class = "quizzesCreated">Nr. of Quizzes Created</th>
                    <th class = "quizzesCompleted">Nr. of Quizzes Completed</th>
                </tr>
                <tr>
                    <td>{{User.userprofile.nrOfCreatedQuizzes}}</a></td>
                    <td>{{User.userprofile.nrOfCompletedQuizzes}}</td>
                </tr>
            </table>
        </div>
        <p><button><a href = "mailto: {{user.email}}">Contact</a></button></p>
      </div>
    
{% endblock %}