{% extends 'Quizker/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{User.username}}'s Profile
{% endblock %}

{% block body_block %}

	<link rel="stylesheet" type="text/css" href="{% static 'Quizker/UserProfile.css' %}">

	<div class="card">
		<h1>{{User.username}}</h1>
		<p>{{User.username}}'s Statistics:</p>
		<div>
			<table>
				<tr>
					<th>Quizzes Created</th>
					<th>Quizzes Completed</th>
					<th>Quizzes Liked</th>
				</tr>
				<tr>
					<td>{{QuizzesCreated}}</td>
					<td>{{QuizzesCompleted}}</td>
					<td>{{QuizzesLiked}}</td>
				</tr>
			</table>
		</div>
	</div>
    {% if Quizzes %}
 	 <h2 style="text-align: center;">Quizzes Created</h2>
	
	 <div class = "table">
		<table>
			<tr>
				<th class = "names">Name</th>
				<th class = "category">Category</th>
				<th class = "likes">Likes</th>
				<th class = "creator">Creator</th>
                <th class = "date">Date Created</th>
			</tr>
			{% for Quiz in Quizzes %}
			<tr>
				<td><a href="{% url 'Quizker:ParticipateQuiz' Quiz.slug%}">{{Quiz.title}}</a></td>
				<td>{{Quiz.category.title}}</a></td>
				<td>{{Quiz.likes}}</td>
				<td>{{Quiz.creator.username}}</td>
				<td>{{Quiz.date}}</td>
			</tr>
			{% endfor %} 
		</table>
	 </div>
	{% endif %}
    
{% endblock %}