body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul.nav {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
}

ul.nav > li.img {
    padding-right: 0;
}

ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
}

ul.nav > li > a {
    color: #3b4754;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
ul.nav > li.user {
    border-radius: 30px;
    background-color: #876df5;
}
ul.nav > li.user > a {
    color: white;
    text-decoration: none;
}

img {
    border-radius: 30px;
    width: 75%;
    height: auto;
    vertical-align: middle;
}   