.card {
    border: 3px solid #876df5;
    border-radius: 30px; 
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card > h1 {
    background-color: #876df5;
    color: white;
    padding: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 3px 3px;
}
  
.card > a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card table {
    padding-bottom: 10px;
}
  
.card > button:hover, .card > a:hover {
    opacity: 0.7;
}

.table > table {
    border: 3px solid #876df5;
    border-radius: 30px;
    margin-left:auto; 
    margin-right:auto;
    width: 75%;
}

.table > table th {
    font-size: 18px;
    padding: 10px 65px;
    color: white;
    background-color: #876df5;
}

.names {
    border-top-left-radius: 30px;
}

.date {
    border-top-right-radius: 30px;
}

.table > table td {
    text-align: center;
    padding: 10px;
}

.table > table td > a {
    text-decoration: none;
    font-size: 18px;
}